<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SalesManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SalesManagement.Properties.Settings.FoodDbConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\desktop_apps\zeko\SalesManagement\FoodDb.mdb;User ID=admin"
            providerName="System.Data.OleDb" />
        <add name="SalesManagement.Properties.Settings.FoodDbConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\FoodDb.mdb;User ID=admin"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <SalesManagement.Properties.Settings>
            <setting name="languageCode" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="ColorMode" serializeAs="String">
                <value>Light</value>
            </setting>
        </SalesManagement.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
